/* COLORS */
$white: #ffffff;
$black: #000000;
$grey: #e8eaeb;

$site-max-width: 1050px;

/* 
breakpoints:
use @media screen and (min), mobile-first styles */
$tablet: 501px;
$laptop: 769px;
$desktop: 1140px;
$max: 1366px; 